.page_pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page_pagination_container {
  margin: 2rem 0;
}

.page_item.active .page_link {
  background-color: var(--color-gray-600);
  color: var(--color-gray-400);
}

.page_item {
  margin: 0 5px;
}
