.movie_card {
  border-radius: 8px;
  background-color: var(--color-gray-700);
  margin: 1rem;
  padding: 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%; /* Ensure the card takes the full height */
}

.image_container img {
  width: 100%;
}

.movie_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.movie_title {
  margin: 15px 0;
}

.movie_release_date {
  margin: 2px 0;
}

.link_details {
    text-decoration: none;
    padding: 8px;
    background-color: var(--color-gray-800);
    border-radius: 8px;
    color: white;
    transition: color 0.3s;
    margin-top: auto;
}
.link_details:hover{
    color: var(--color-gray-700);
}

.movie_rating {
margin: 5px 0;
}

.movie_rating span {
  font-weight: bold;
}
